.place-background {
	background-repeat: no-repeat;
	background-size: contain;
}
.large-background {
	height: 500px;
}
.small-background {
	height: 200px;
	width: 300px;
	margin: 25px;
}
.place-outline {
	border: 3px solid red;
}
